body{
  background-image:url('https://www.bizprospex.com/wp-content/uploads/2016/09/bizprospex-gif.gif'); 
  background-repeat:repeat; 
  /* height: 150vh; */
  
}
h1{
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
}

.sign-form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 0;
margin-bottom: 1px;
font-family: 'Times New Roman', Times, serif;
}

.sign-label {
font-size: 20px;
color: #00d9ff;
font-weight: 500;
}

.sign-input {
font-size: 16px;
padding: 10px;
border: none;
border-bottom: 2px solid #ccc;
width: 300px;
margin-bottom: 20px;

}

.login-label {
font-size: 18px;
}

.login-input {
font-size: 16px;
padding: 10px;
border: none;
border-bottom: 2px solid #ccc;
width: 300px;
margin-bottom: 20px;
}

.login-button {
background-color: #25ba00;
color: white;
font-size: 16px;
border: none;
padding: 10px;
margin-top: 20px;
cursor: pointer;
}
.sign-form {
display: flex;
flex-direction: column;
align-items: center;
margin: 50px;
background-size: auto;
}
.button {
background-color: rgb(229, 244, 20);
height: 25px;
width: 100px;
color: white;
border: none;
margin-right: 10px;
}


